/* ---------------------------------------------- variables ------------------------------------------------- */
/* ---------------------------------------------- Global ------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 14px;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* ---------------------------------------------- Home ------------------------------------------------- */
.home {
  position: relative;
  padding-bottom: 100px; }

.background #blue-graphics {
  right: 0;
  position: absolute;
  z-index: -10;
  width: 53%; }

.background #white-graphics {
  left: 0;
  position: absolute;
  z-index: -10;
  width: 70%;
  top: 20%; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 20px; }
  nav img {
    width: 48px; }
  nav ul {
    list-style: none;
    text-align: right;
    padding-right: 20px; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        padding: 5px 20px;
        border-bottom: 0px;
        -webkit-transition: 0.1s all ease;
        -o-transition: 0.1s all ease;
        transition: 0.1s all ease; }
      nav ul li a:hover {
        border-bottom: 2px solid white; }
  nav .menu {
    display: none; }

.hero1, .hero2 {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .hero1 .hero-content, .hero2 .hero-content {
    width: 50%;
    padding: 5% 10% 0% 5%; }
    .hero1 .hero-content h1, .hero2 .hero-content h1 {
      font-size: 1.4rem;
      color: #373339; }
    .hero1 .hero-content h2, .hero2 .hero-content h2 {
      font-size: 1.3rem;
      font-weight: 400; }
  .hero1 .illustration, .hero2 .illustration {
    width: 50%; }
    .hero1 .illustration img, .hero2 .illustration img {
      width: 70%; }

.hero2 .hero-content {
  padding-top: 5% 10% 0% 0%;
  padding-left: 0; }

.hero2 .illustration {
  padding-left: 5%; }

.products {
  margin-top: 0px;
  padding-top: 170px;
  padding-bottom: 170px;
  position: relative;
  overflow-x: hidden; }
  .products .top-graphics {
    height: 250px;
    width: 120%;
    background: #7481e8;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    position: absolute;
    top: 170px;
    z-index: -10; }
  .products .bottom-graphics {
    height: 250px;
    width: 120%;
    background: #7481e8;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    position: absolute;
    bottom: 170px;
    z-index: -10; }
  .products .blue-graphics {
    position: absolute;
    right: 0;
    top: 200px;
    width: 48%;
    z-index: 0; }
    .products .blue-graphics img {
      width: 80%;
      float: right; }
  .products .contents {
    background: #7481e8;
    padding: 2% 10%; }
    .products .contents h1.heading {
      font-size: 1.4rem;
      font-weight: 700;
      color: white; }
    .products .contents h3.description {
      font-size: 1.2rem;
      font-weight: 400;
      color: white; }
  .products .product-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px; }
    .products .product-wrap .product-container {
      margin: 25px;
      width: 20%;
      text-align: center; }
      .products .product-wrap .product-container .icon img {
        width: 100px; }
      .products .product-wrap .product-container h3.product-name {
        font-size: 1.2rem;
        color: white;
        font-weight: 600; }
      .products .product-wrap .product-container h4.product-description {
        font-size: 1.1rem;
        color: white;
        font-weight: 400; }

.services {
  margin-top: 0px;
  padding-bottom: 350px;
  position: relative;
  overflow-x: hidden; }
  .services .grey-graphics {
    position: absolute;
    top: 250px;
    z-index: -20; }
  .services .contents {
    padding: 2% 10%; }
    .services .contents h1.heading {
      font-size: 1.4rem;
      font-weight: 700;
      color: #7481e8; }
    .services .contents h3.description {
      font-size: 1.2rem;
      font-weight: 400;
      color: #373339; }
    .services .contents .service-cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: -2%;
      margin-right: -2%;
      margin-top: 80px; }
      .services .contents .service-cards .service-container {
        width: 20%;
        margin: 2%;
        background: white;
        border-radius: 8px;
        text-align: center;
        -webkit-box-shadow: 0px 20px 58.41px 0.59px rgba(123, 136, 233, 0.18);
        box-shadow: 0px 20px 58.41px 0.59px rgba(123, 136, 233, 0.18);
        padding: 40px; }
        .services .contents .service-cards .service-container .icon > img {
          width: 70px; }
        .services .contents .service-cards .service-container h3.services-description {
          color: #a9adcb;
          font-weight: 400; }

.partners .contents {
  padding: 2% 10%; }
  .partners .contents h1.heading {
    font-size: 1.4rem;
    font-weight: 700;
    color: #7481e8; }
  .partners .contents h3.description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #373339; }
  .partners .contents .partner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .partners .contents .partner-container .logos {
      text-align: center;
      padding: 50px;
      padding-top: 0px;
      margin-top: 50px; }
      .partners .contents .partner-container .logos h1 {
        font-size: 1.3rem;
        color: #a9adcb; }
      .partners .contents .partner-container .logos img {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: 200px;
        opacity: 0.7;
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%); }
      .partners .contents .partner-container .logos img:hover {
        opacity: 1;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }
      .partners .contents .partner-container .logos:first-child {
        border-right: 1px solid #e3e6fa; }

.contacts {
  margin-top: 150px;
  position: relative; }
  .contacts .contact-wrapper {
    background: #f7f8fe;
    padding: 2% 10%;
    position: relative;
    overflow: hidden; }
    .contacts .contact-wrapper h1.heading {
      font-size: 1.4rem;
      font-weight: 700;
      color: #373339; }
    .contacts .contact-wrapper .contents {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .contacts .contact-wrapper .contents .contact-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 25px; }
        .contacts .contact-wrapper .contents .contact-details .container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-right: 70px; }
          .contacts .contact-wrapper .contents .contact-details .container .icon {
            margin-right: 10px; }
            .contacts .contact-wrapper .contents .contact-details .container .icon img {
              width: 40px; }
          .contacts .contact-wrapper .contents .contact-details .container .description h4 {
            margin-top: 5px;
            margin-bottom: 8px;
            font-weight: 400;
            color: #373339; }
      .contacts .contact-wrapper .contents .social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .contacts .contact-wrapper .contents .social .icon {
          margin-left: 20px;
          cursor: pointer;
          -webkit-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease; }
          .contacts .contact-wrapper .contents .social .icon img {
            width: 50px; }
        .contacts .contact-wrapper .contents .social .icon:hover {
          -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
          transform: scale(0.9); }
  .contacts .graphics {
    position: absolute;
    top: -20px;
    right: 0px;
    width: 200px;
    pointer-events: none;
    z-index: 1000; }

footer {
  text-align: center;
  background: #7481e8;
  padding: 20px; }
  footer h3 {
    color: white;
    background: #7481e8;
    margin: 0;
    font-weight: 600;
    font-size: 1.1rem; }
